/*
 * Author: Julianna Marshall
 * Date: 2/20/25
 * File Name: styles.css
*/

/*CSS Reset*/
body, header, nav, main, footer, h1, div, img{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for header*/
header{
    background-color: floralwhite;
    font-family: Verdana, Arial, sans-serif;
    color:darkslateblue;
}

/*Style rules for body and images*/
body{
    background-color: floralwhite;
}

img{
    max-width: 100%;
    display: block;
    margin: 2em;
}

#welcome{
    border: groove 5px dodgerblue;
}

/*Style rules for navigation area*/
nav{
    width: 60%;
    float: right;
    margin: -38em 2em 0 50em ;
}

nav ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li{
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a{
    display: block;
    color: cornflowerblue;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/*Style rules for main content*/
main{
    clear: left;
    background-color: floralwhite;
    padding: 2%;
    font-size: 1.25em;
    font-family: Verdana, Arial, sans-serif;
}

.hello{
    font-size: 1.35em;
    font-weight: bold;
}

/*Style rules for footer*/
footer{
    background-color: floralwhite;
}

footer p a{
    text-decoration: none;
    color: darkslateblue;
}