/*
 * Author: Julianna Marshall
 * Date: 2/20/25
 * File Name: styles.css
*/

/*CSS Reset*/
body, header, nav, main, footer, h1, div, img{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for header*/
header{
    background-color: floralwhite;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    color:darkslateblue;
}

/*Style rules for body and images*/
body{
    background-color: floralwhite;
    font-size: 30px;
}

img{
    max-width: 100%;
    display: block;
    border-radius: 15px;
}

#welcome{
    border: groove 5px dodgerblue;
}

/*Style rules for navigation area*/
nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li{
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

nav li a{
    display: block;
    color: cornflowerblue;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/*Style rules for main content*/
main{
    clear: left;
    background-color: floralwhite;
    padding: 2%;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

.hello{
    font-size: 1.35em;
    font-weight: bold;
}

#image-me{
    margin: 0 2%;
    width: 40%;
    float:left;
    padding-top: 140px;
}

#info{
    margin: 0 2%;
    width: 40%;
    float: left; 
}

.about-me{
    font-style: italic
}

.mobile{
    display: block;
}

.tablet-desktop{
    display: none;
}

.link{
    word-wrap: break-word
}

/*Style rules for footer*/
footer{
    background-color: floralwhite;
    clear: both;
}

footer p a{
    text-decoration: none;
    color: darkslateblue;
}

/*Media Query for Mobile Viewport*/
@media screen and (min-width: 320px), print{
    .tablet-desktop{
        display: none;
    }
    
    .mobile{
        display: block;
    }
    
    body h1{
        font-size: 30px;
        text-align: center;
    }
    
    nav ul{
        text-align: center;
    }
    
    #image-me{
        display: none;
    }

    #info, #projects, #contact{
        margin-left: 15%;
        width: 75%;
        font-size: 20px;
        text-align: justify;
    }
}

/*Media Query for Tablet Viewport*/
@media screen and (min-width: 630px), print{
    /*Tablet Viewport: Show tablet-desktop class, hide mobile class*/
    .tablet-desktop{
        display: block;
    }
    
    .mobile{
        display: none;
    }
    
    #image-me{
        display: block;
        margin: 0 2%;
        width: 40%;
        float:left;
        padding-top: 0;
    }

    #info, #projects, #contact{
        margin: 0 2%;
        width: 40%;
        float: left;
        font-size: 10px;
    }
}

/*Media Query for Desktop Viewports*/
@media screen and (min-width: 1015px){
    #container{
        width: 1014px;
        margin: 0 auto;
    }

    nav li a:hover{
        color: #000;
        background-color: #fff;
    }
}